@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background: #000000;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
    flex: 0 1 100%;
}
.header_logo a img {max-width: 100px;}

.header_right_menu {display: flex;}
.header_searsh {margin: 0px 57px 0px 0px;}
.header_about {margin: 0px 46px 0px 0px;}
.header_about a {font-size: 15px; text-decoration: none; color: #FFFFFF;}
.header_suggest_news {margin: 0px 13px 0px 0px;}
.header_suggest_news a {
    padding: 10px 13px;
    background: rgba(255, 255, 255, .3);
    border-radius: 4px;
    font-size: 15px; 
    text-decoration: none; 
    color: #FFFFFF;
}
.section_nav_menu {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    height: 50px; 
    align-items: center; 
    padding: 0 50px;
    background: #E5E5E5;
}

.section_nav_left_menu {display: flex;}
.section_nav_left_menu a {
    font-size: 15px; 
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: #000000;
}

.section_nav_right_menu {display: flex; align-items: center;}
.section_nav_right_menu a {margin: 0px 10px 0px 10px;}

.news_block {
    display: flex;
    justify-content: space-between;
    background: #E5E5E5;
    padding: 0px 50px;
}
.left_news_block {
    max-width: 878px;
    max-height: 180px;
}
.swiper {
    width: 100%;
    height: 100%;
    min-width: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 12px;
    background: #E5E5E5;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    background-image: url(/images/Group\ 95.svg);
    width: 50px;
}
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image:  url(/images/Group\ 95.svg);
    width: 50px;
    transform: rotate(180deg);
}

.swiper-button-prev::after {
    display: none;
}

.news_block .right_news_block {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.right_news_block a.right_news_block_122 {padding: 30px 0px 0px 0px;}
.right_news_block a.right_news_block_123 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_124 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_125 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_126 {padding: 20px 0px 0px 0px;}