@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 53, 53);
    z-index: 2;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
    flex: 0 1 100%;
}
.header_wrapper_mobile {
    display: none;
}
.header_burger {
    display: none;
}
.header_right_menu {display: flex; position: relative; z-index: 2;}
.header_searsh {margin: 0px 57px 0px 0px;}
.header_about {margin: 0px 46px 0px 0px;}
.header_about a {font-size: 15px; text-decoration: none; color: #FFFFFF;}
.header_about a:hover {font-size: 110%;}
.header_suggest_news {margin: 0px 13px 0px 0px;}
.header_suggest_news a {
    padding: 10px 13px;
    background: rgba(255, 255, 255, .3);
    border-radius: 4px;
    font-size: 15px; 
    text-decoration: none; 
    color: #FFFFFF;
}
.header_suggest_news a:hover {
    font-size: 110%;
}
.header_logo {
    flex: 0 0 100px;
    position: relative;
    z-index: 3;   
}
.header_logo img {max-width: 100%; display: block;}

.section_nav_menu {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    height: 50px; 
    align-items: center; 
    padding: 100px 50px 0 50px;
    background: #E5E5E5;
}
.section_nav_menu_mobile {
    display: none;
}

.section_nav_left_menu {
    display: flex;
    overflow-y: hidden;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
}
.section_nav_left_menu a {
    font-size: 15px; 
    margin: 0px 10px 0px 10px;
    color: #000000;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 300;
    transition: 0.34s;
}
.section_nav_left_menu a:after {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: transparent;
    font-weight: 900;
    transition: 0.34s;
    transform: scale(0.9);
    transform-origin: center center;
}
.section_nav_left_menu a:hover {
    color: transparent
}
.section_nav_left_menu a:hover::after {
    color: #000000;
    transform: scale(1.05);
    font-weight: 900;
}
.section_nav_right_menu {
    display: flex; 
    align-items: center;
}
.section_nav_right_menu a {
    margin: 0px 10px 0px 10px;
}
.news_block {
    display: flex;
    justify-content: space-between;
    background: #E5E5E5;
    padding: 0px 50px;
}
.left_news_block {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    max-width: 80%;
    height: 2320px;
    padding: 20px 0px;
}
.swiper {
    max-width: 93%;
    max-height: 10%;
    min-width: 0;
    margin: 0px 0px 0px -10px;
}
.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}
.swiper-button-next {
    background-image: url(/images/Group\ 95.svg);
    width: 50px;
}
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev {
    background-image:  url(/images/Group\ 95.svg);
    width: 50px;
    transform: rotate(180deg);
}
.swiper-button-prev::after {
    display: none;
}
.left_news_block_section_1 {
    display: flex;
    max-width: 100%;
    max-height: 10%;
    padding: 20px 50px 20px 0px;
}
.left_news_block_section_1 a {
    margin: 0px -11px 0px 0px;
}
.left_news_block_section_1 a img {
    max-width: 100%;
}
.left_news_block_section_2 {
    display: flex;
    flex-direction: column;
    max-width: 93.3%;
    max-height: 20%;
    padding: 20px 50px 20px 0px;
    background-image: url(./images/155.png);
    background-color: #c7b39b;
    border-radius: 7px;
}
.left_news_block_section_2_item1 {padding: 30px 0px 0px 30px;}
.left_news_block_section_2_item2 {padding: 190px 0px 0px 30px;}
.left_news_block_section_2_item3 {padding: 30px 0px 0px 30px;}

.left_news_block_section_3 {
    display: flex;
    justify-content: space-between;
    max-width: 93.3%;
    max-height: 13%;
    margin: 20px 0px 20px 0px;
}
.left_news_block_section_3 img {
    max-width: 100%;
}
.left_news_block_section_4 {
    display: flex;
    justify-content: space-between;
    max-width: 93.3%;
    max-height: 13%;
    margin: 0px 0px 20px 0px;
}
.left_news_block_section_4 img {
    max-width: 100%;
}
.left_news_block_section_5 {
    display: flex;
    justify-content: space-between;
    max-width: 93.3%;
    max-height: 13%;
    margin: 20px 0px 40px 0px;
}
.left_news_block_section_5 img {
    max-width: 100%;
}
.left_news_block_section_6 {
    display: flex;
    justify-content: space-between;
    max-width: 93.3%;
    max-height: 13%;
    margin: 20px 0px 20px 0px;
}
.left_news_block_section_6 img {
    max-width: 100%;
}
.left_news_block_section_7 {
    display: flex;
    justify-content: space-between;
    max-width: 93.3%;
    max-height: 13%;
    margin: 0px 0px 0px 0px;
}
.left_news_block_section_7 img {
    max-width: 100%;
}
.news_block .right_news_block {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}
.right_news_block a.right_news_block_122 {padding: 30px 0px 0px 0px;}
.right_news_block a.right_news_block_123 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_124 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_125 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_126 {padding: 20px 0px 0px 0px;}

.right_news_block img {
    max-width: 100%;
}
.news_block_mobile {
    display: none;
}
.sitefooter {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.sitefooter_left_menu a {
    font-size: 15px; 
    text-decoration: none;
    margin: 0px 10px;
    color: #000000;
    font-weight: 800;
    white-space:nowrap
}
.sitefooter_left_menu a:hover {
    font-size: 110%;
}
.sitefooter_right_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px;
}
.sitefooter_mobile {
    display: none;
}
@media (max-width:767px){
    .header_wrapper {
        display: none;
    }
    .header_wrapper_mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px 15px 10px;
        flex: 0 1 100%;
        height: 50px;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        left: 0;
        position: relative;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_logo {
        max-width: 60px;
    }
    .header_searsh {
        margin: 0px 0px 0px 0px;
        z-index: 4;
    }
    .header_right_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    .header_right_menu.active {
        top: 0;
    }
    .header_about {
        margin: 0px 0px 40px 0px;
    }
    .header_suggest_news {
        margin: 0px 0px 60px 0px;
    }
    .section_nav_menu {
        display: none;
    }
    .section_nav_menu_mobile {
        display: block;
        width: 100%; 
        height: 80px; 
        align-items: center; 
        padding: 65px 5px 0 5px;
        background: #E5E5E5;
    }
    .section_nav_left_menu a {
        font-size: 12px;
    }
    .section_nav_right_menu_mobile {
        display: flex; 
        align-items: center;
    }
    .section_nav_right_menu_mobile a {
        margin: 0px 10px 0px 10px;
    }
    .news_block {
        display: none;
    }
    .news_block_mobile {
        display: flex;
        justify-content: center;
        background: #E5E5E5;
        padding: 0px 0px;
    }
    .left_news_block {
        display: block;
        max-width: 100%;
        height: 4420px;
        padding: 20px 0px;
    }
    .swiper {
        max-width: 100%;
        max-height: 10%;
        min-width: 0;
        margin: 0px 0px 0px -10px;
    }
    .left_news_block_section_1 {
        display: flex;
        max-width: 100%;
        max-height: 10%;
        padding: 20px 0px 20px 0px;
    }
    .left_news_block_section_2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        min-width: 60%;
        max-height: 20%;
        padding: 20px 0px 20px 0px;
        background-image: url(./images/155.png);
        background-color: #c7b39b;
        border-radius: 7px;
    }
    .left_news_block_section_5 {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        max-height: 13%;
        margin: 20px 0px 40px 0px;
    }
    .left_news_block_section_2_item3 {
        padding: 30px 0px 0px 30px;
    }
    .left_news_block_section_3 {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        margin: 20px 0px 20px 0px;
    }
    .left_news_block_section_4 {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        margin: 20px 0px 20px 0px;
    }
    .left_news_block_section_6 {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        margin: 20px 0px 20px 0px;
    }
    .left_news_block_section_7 {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        margin: 20px 0px 20px 0px;
    }
    .sitefooter {
        display: none;
    }
    .sitefooter_mobile {
        display: flex;
        max-width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        background-color: rgb(0, 0, 0);
    }
    .sitefooter_left_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .sitefooter_left_menu a {
        font-size: 15px; 
        text-decoration: none;
        margin: 0px 10px;
        color: #fffefe;
        font-weight: 800;
        white-space:nowrap
    }
    .sitefooter_right_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0px 20px;
    }
}