@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background: #000000;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
    flex: 0 1 100%;
}
.header_logo a img {max-width: 100px;}

.header_right_menu {display: flex;}
.header_searsh {margin: 0px 57px 0px 0px;}
.header_about {margin: 0px 46px 0px 0px;}
.header_about a {font-size: 15px; text-decoration: none; color: #FFFFFF;}
.header_suggest_news {margin: 0px 13px 0px 0px;}
.header_suggest_news a {
    padding: 10px 13px;
    background: rgba(255, 255, 255, .3);
    border-radius: 4px;
    font-size: 15px; 
    text-decoration: none; 
    color: #FFFFFF;
}
.section_nav_menu {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    height: 50px; 
    align-items: center; 
    padding: 0 50px;
    background: #E5E5E5;
}

.section_nav_left_menu {display: flex;}
.section_nav_left_menu a {
    font-size: 15px; 
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: #000000;
}

.section_nav_right_menu {display: flex; align-items: center;}
.section_nav_right_menu a {margin: 0px 10px 0px 10px;}

.news_block {
    display: flex;
    justify-content: space-between;
    background: #E5E5E5;
    padding: 0px 50px;
}
.left_news_block {
    max-width: 878px;
    max-height: 180px;
}
.swiper {
    width: 100%;
    height: 100%;
    min-width: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #E5E5E5;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    background-image: url(%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%23AA3D3D'%3E%3C/circle%3E%3Cpath d='M34.4414 25.6738C34.4414 25.459 34.3555 25.2549 34.1836 25.0938L27.4268 18.3262C27.2119 18.1221 27.0293 18.0469 26.8145 18.0469C26.3848 18.0469 26.0625 18.3691 26.0625 18.7988C26.0625 19.0029 26.127 19.207 26.2666 19.3467L29.0166 22.1182L32.1641 25.0293L29.7793 24.9004H16.3516C15.9111 24.9004 15.5889 25.2227 15.5889 25.6738C15.5889 26.1143 15.9111 26.4365 16.3516 26.4365H29.7793L32.1748 26.3076L29.0166 29.2188L26.2666 31.9902C26.1377 32.1299 26.0625 32.334 26.0625 32.5381C26.0625 32.9678 26.3848 33.29 26.8145 33.29C27.0293 33.29 27.2012 33.2148 27.373 33.0537L34.1836 26.2432C34.3555 26.082 34.4414 25.8887 34.4414 25.6738Z' fill='white'%3E%3C/path%3E%3C/svg%3E);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image:  url(%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%23AA3D3D'%3E%3C/circle%3E%3Cpath d='M34.4414 25.6738C34.4414 25.459 34.3555 25.2549 34.1836 25.0938L27.4268 18.3262C27.2119 18.1221 27.0293 18.0469 26.8145 18.0469C26.3848 18.0469 26.0625 18.3691 26.0625 18.7988C26.0625 19.0029 26.127 19.207 26.2666 19.3467L29.0166 22.1182L32.1641 25.0293L29.7793 24.9004H16.3516C15.9111 24.9004 15.5889 25.2227 15.5889 25.6738C15.5889 26.1143 15.9111 26.4365 16.3516 26.4365H29.7793L32.1748 26.3076L29.0166 29.2188L26.2666 31.9902C26.1377 32.1299 26.0625 32.334 26.0625 32.5381C26.0625 32.9678 26.3848 33.29 26.8145 33.29C27.0293 33.29 27.2012 33.2148 27.373 33.0537L34.1836 26.2432C34.3555 26.082 34.4414 25.8887 34.4414 25.6738Z' fill='white'%3E%3C/path%3E%3C/svg%3E);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
}

.swiper-button-prev::after {
    display: none;
}

.news_block .right_news_block {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.right_news_block a.right_news_block_122 {padding: 30px 0px 0px 0px;}
.right_news_block a.right_news_block_123 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_124 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_125 {padding: 20px 0px 0px 0px;}
.right_news_block a.right_news_block_126 {padding: 20px 0px 0px 0px;}